
<h2>Data loaded from the Web API:</h2>
<div *ngIf="offers.length>0" class="alert alert-warning" role="alert">
  Offers:
  <br>
  <li *ngFor="let item of offers">
       {{item}}
  </li>
</div>
<hr>
<div *ngIf="customMsg" class="alert alert-warning" role="alert">
  custom message : {{customMsg}}
</div>
<hr>
<div *ngIf="singleUserMsg" class="alert alert-warning" role="alert">
  custom message : {{singleUserMsg}}
</div>


<!--

https://www.c-sharpcorner.com/article/signalr-introduction-and-implementation-using-the-net-core-6-web-api-and-angula/

-->
<router-outlet></router-outlet>
